* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #fff;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 290px;
  height: 290px;

  border-radius: 100%;
  border-bottom: 5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  animation: teste 1.5s linear infinite;
}

span {
  z-index: 2;
  font-size: 2rem;
}

@keyframes teste {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
