* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: #333;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;

  flex-wrap: wrap;

  font-size: 3rem;

  overflow: hidden;
}

section:hover div {
  transform: scaleY(1);

  color: white;
}

section:hover button {
  color: white;
}

div {
  width: 100%;
  height: 200%;
  background-color: #0cb97c;

  position: absolute;
  top: 0px;

  border-radius: 0 0 100% 100%;

  transition: transform 1s ease;

  transform-origin: top;
  transform: scaleY(0);
}

button {
  padding: 20px 30px;
  border: 2px solid #0cb97c;

  color: #0cb97c;

  font-size: 2rem;

  background-color: transparent;
  transition: all 1.2s ease;

  z-index: 2;

  cursor: pointer;
}
