* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #fff;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #b80ee2;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;

  flex-wrap: wrap;

  font-size: 3rem;

  width: 130px;
}

div {
  width: 40px;
  height: 40px;

  border-radius: 5px;

  margin: 10px;

  background-color: white;
}

.square1 {
  animation: square1 2s linear 0.1s infinite;
}

@keyframes square1 {
  0%,
  15%,
  85%,
  100% {
    transform: translateX(0);
  }

  25%,
  35% {
    transform: translateX(60px);
  }

  45%,
  55% {
    transform: translateX(60px) translateY(60px);
  }

  65%,
  75% {
    transform: translateX(0px) translateY(60px);
  }
}

.square2 {
  animation: square2 2s linear infinite;
}

@keyframes square2 {
  0%,
  15%,
  85%,
  100% {
    transform: translateY(0);
  }

  25%,
  35% {
    transform: translateY(60px);
  }

  45%,
  55% {
    transform: translateX(-60px) translateY(60px);
  }

  65%,
  75% {
    transform: translateX(-60px) translateY(0px);
  }
}

.square3 {
  animation: square3 2s linear 0.2s infinite;
}

@keyframes square3 {
  0%,
  15%,
  85%,
  100% {
    transform: translateY(0px);
  }

  25%,
  35% {
    transform: translateY(-60px);
  }

  45%,
  55% {
    transform: translateX(60px) translateY(-60px);
  }

  65%,
  75% {
    transform: translateX(60px) translateY(0px);
  }
}
